--swiftversion 6.1
--allman false
--binarygrouping 4,4
--closingparen same-line
--commas always
--comments indent
--decimalgrouping none
--exponentcase lowercase
--exponentgrouping enabled
--extensionacl on-declarations
--fragment false
--ifdef indent
--importgrouping alpha
--indent 4
--indentcase false
--insert-lines true
--linebreaks lf
--modifierorder acl,override,static,final,dynamic,mutating,nonmutating,convenience
--octalgrouping none
--operatorfunc spaced
--organizetypes true
--patternlet inline
--ranges spaced
--self insert
--semicolons never
--stripunusedargs always
--tabwidth 4
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--yoda-swap literals-only
