name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Select Swift
        run: swift --version
      - name: Resolve dependencies
        run: swift package resolve
      - name: Build (debug)
        run: swift build
